# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /tetotewp/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tetotewp/index.php [L]
</IfModule>
# END WordPress

AuthType Basic
AuthName "Restricted Area"
AuthUserFile /home/xs783086/habataki24.com/htpasswd
Require valid-user
